[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-icdiff = "*"
pytest-sugar = "*"

[packages]
flask = "*"
dataclasses = {version = "*", markers = "python_version < '3.7'"}

[requires]
python_version = "3.7"

[scripts]
app = "python api/server.py"
tests = "pytest -v -rEf"